{
    "GhlAccountKey": "dignava",
    "GhlSubAccountKey": "curlwisdom",
    "Stage": "staging",
    "MailGunApiUrl": "https://api.mailgun.net/v3",
    "MailGunDomain": "send.dignamail.com",
    "S3Bucket": {
        "ObjectLockMode": "GOVERNANCE",
        "ObjectRetentionYears": 0,
        "ObjectRetentionDays": 7
    },
    "Sns": {
        "AlarmsEmail": "alarms@example.com"
    }
}
